*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;

}

/* header part */
.header{
    padding: 30px;
    background-color: black;
    color: #FAF7F0;
    text-align: center;
}

.header a{
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 1.5rem;
    line-height: 0.5rem;
    font-weight: bolder;
    color: #FAF7F0;
}


/* side navigation css */
.sideNav{
    width: 250px;
    height: 100%;
    background-color: #FAF7F0;
    position:absolute;
    /* left: -200px; */
    transition: 0.4s;
    margin-bottom: 0px;
    /* position: fixed; */
}

.toggleIcon{
    padding: 20px;
    height: 100%;
    /* cursor: pointer; */
    /* margin-bottom: 0px;
    padding-bottom: 0px; */
}

.icon{
    cursor: pointer;
}

.toggle ul li{
    padding: 5px;
    /* margin-bottom: 2px; */
    
}

.toggle ul li a{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
}

.rightPart{
    margin-left: 250px;
    transition: 0.4s;
}


/* css of horizontal line */
.line{
    margin-top: 30px;
    line-height: 3px;
}


/* to hide the side bar */
.sideVisible{
    left: -250px;
}

.rightPartMargin{
    margin-left: 0px;
}

.toggleIconApply{
    width: 250px;
    background-color: #FAF7F0;
}


/* right part content css */
.rightPart{
   padding-left: 80px;
   /* height: 500px;
   overflow-y: scroll; */

}

.topic{
    font-size: 2rem;
    font-weight: 600;
}

.addText{
    width: 100%;
    padding: 30px;

    overflow-x: hidden;
    overflow-y: auto;
    
}

.formText{
    position:sticky;
}

.textArea{
    width: 70%;
    line-height: 2rem;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
}



.add{
    width: 20%;
    margin-left: 3px;
    line-height: 2rem;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 30px;
}

.cont{
    /* border: 1px solid black; */
    /* border-radius: 30px; */

    background-color: #FAF7F0;
    padding: 15px;
}


.displayText ul{
    padding: 0;
}

.displayText{
    margin-top:20px;
    line-height: 2rem;
}

.btnClick{
    /* display: block; */
    padding-left: 2px;
}

.impBtn{
    border: none;
}

.del>span{
    margin-left: 4px;
    letter-spacing: 0.03rem;
}


.del{
    /* width: 100%; */
    border: none;
    background-color: #FAF7F0;
    text-align: left;
    cursor: pointer;
    /* display: inline-block; */
}

.secondFlex{
    cursor: pointer;
}




.task{
    /* display: inline-block; */
    word-wrap: break-word;
    padding-left: 25px;
}


/* flex box on the div */
.topContFlex{
    display: flex;
    justify-content: space-between;
}



/* .imp{
    display: inline-block;
    position:relative;
    margin-left: 300px;
    text-align: right;
} */

/* display completed */
.compTask{
    text-decoration: line-through;
}

.displayCompleted ul{
  padding: 0px;
}

.compHeading{
    width: 90%;

    /* border: 1px solid black;
    background-color: #FAF7F0; */
    line-height: 1rem;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 3px 3px  #FAF7F0;
}

.trashIcon{
    cursor: pointer;
}

